<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>

    <th:block th:replace="layout/head :: head-1"/>
</head>
<body>
    <th:block th:replace="layout/header"/>

    <div class="content">
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <label for="fullName">Full name</label>
                    <input type="text" name="fullName" id="fullName">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <button type="submit">Create</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:replace="layout/footer"/>
</body>
</html>