body {
    background-color: red;
    color: white;
}

.header {
    position: fixed;
    width: 100vw;
    height: 100px;
    text-align: center;
    top: 0;

}

.content {
    margin-top: 100px;
}

.footer {
    position: fixed;
    width: 100vw;
    height: 60px;
    text-align: center;
    bottom: 0;
}